img { max-width: 100%; }

.answers .col-md-3, .questions .col-md-3 {
  margin-right:-1px;
}

.questions {
}

#container .wrapper {
  height: 500px;
}

#container .wrapper .btn { vertical-align: middle; }

.alert-success {
  color: #000000 !important;
}